body{margin: 0px;}

#container{width:1024px; margin:0 auto; border-bottom: solid 3px black;border-top: solid 3px black; border-left: solid 3px black; border-right: solid 3px black; overflow: hidden;}
}

#ban{ padding: 100000px; background-color:blue;}

#menu{background-color:#003366; padding:5px 10px; text-align:center;}

#left{background-color:white; float:left; width:490px; padding:10px; height: 800px;border-right: solid 2px black;}

#right{background-color:white; float:left; width:490px; padding:10px; height: 800px; border-left: solid 2px black;}

#menu li  { display: inline; list-style-type: none; padding-right: 45px;font-size: 20px ;}

#resume{float:left;width:1024px;padding:20px;}

#printinfo{display:none;}

a.links:hover{color:black;}

a.links {color: white}

h1.bannertitle{font-size: 50px;text-align:center}

.photo{border: solid 2px black; background: grey; width: 250px; padding: 20px; margin-right: auto; margin-left: auto; margin-top: 10px; margin-bottom: 20px;text-align: center;}


.resumedata{display: inline;}

.resinfo{display: inline;}

.time{display: inline;padding-left:20px;}



